<ion-view view-title="{{name}}">
  <ion-content>

  <div class="date">
      <h4>Vols du : {{date | date:'dd-MM-yyyy'}}</h4>
  </div>
    
    <div class="card">
      <div class="item item-divider">
       Météo à {{name}}
    </div>
  <div class="item item-text-wrap">
    <a class="item item-icon-left">
    <i class="icon"><img src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png"> 
    {{weather.weather[0].description}}, {{weather.main.temp - 273.15 | number:1}} °C
    </i> 
  </a>
      
  </div>
  </div>

  <hr class="fancy-line"></hr>

  <p ng-show="text">Erreur, veuillez ressayer plus tard !</p>

    <!-- data -->

    <div ng-repeat="value in data">
      <div class="cards" ng-repeat="x in value | filter:isCity">
      <div class="card">
        <div class="item item-divider">
        Numéro de vol : {{x.num_vol}}
      </div>

    <div class="item item-text-wrap">
      {{x.ville_aeroport}} - {{x.dest_prov}}
    </div>
    <div class="list card">

      <a href="#" class="item item-icon-left">
      <i class="icon ion-plane"></i>
      Compagnie : {{x.code_compagnie}}
    </a>    

    <a href="#" class="item item-icon-left">
      <i class="icon ion-clock"></i>
      Arrivée Prévue : {{x.heure_vol}}:{{x.min_vol}}
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-flag"></i>
      Status : {{x.Observation}}
    </a>


</div>
    <button ng-click="openInAppBrowser('{{x.num_vol}}')" class="button button-block button-positive">
    Plus D'informations
</button>

</div>
</div>  
</div>
  <div ng-hide="value.length">Aucun vol prévu pour aujourd'hui</div>
    
  </ion-content>
</ion-view>
