<ion-view view-title="Etat du vol">
  <ion-content>
    <p>Les règles d'or pour vos bagages

Pour éviter toute confusion lors de l'enregistrement, retirez les anciennes étiquettes collées sur vos bagages.
Indiquez lisiblement votre nom et votre adresse à l'intérieur et à l'extérieur de vos bagages. Il est conseillé d'apposer sur chacun d'eux un signe distinctif (autocollant, ruban…) pour les repérer plus facilement à l'arrivée.
Ne transportez pas d'objets de valeur dans vos bagages de soute.
Gardez vos traitements médicaux et ordonnances avec vous.
Emballez soigneusement tout objet fragile.
N'acceptez aucun bagage ou colis d'un tiers, quel qu'en soit le motif.
Ne laissez jamais vos bagages sans surveillance, même durant un court instant. Ils deviendraient suspects et seraient détruits.
Signalez aux agents de l'aéroport tout bagage ou colis abandonné. 
La dimension et le poids des bagages de cabine sont généralement limités.
Renseignez-vous auprès de votre compagnie aérienne.
Attention, ces limites peuvent varier selon les compagnies : soyez vigilants si vous avez des correspondances.</p>
  </ion-content>
</ion-view>
